<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
   <div>
    Enter your Name:<input type="text" [(ngModel)]="name">
     <p>Welcome  {{name}} Have a nice time</p>
   </div>
   <hr>Adding the Server Component
   <app-server></app-server>
   <hr>adding the new component
   <div class ="container" >
     <div class="row">
       <div class='col-xs-12'>
         <!--app-comp-name></app-comp-name  selector used as element -->
         <!--div app-comp-name></div selector used as attribute -->
         <div class ='app-comp-name'></div>
       </div>
      </div>
    </div>
   
  