<div class='row'>
  <div class="col-xs-6">
    <button class="btn btn-primary">Add Trees</button>
  </div>

</div>
<div class='row'>
  <div class="col-xs-6">
    <app-plant *ngFor='let treeslt of treeslist' [listtreee]="treeslt" (wasSelected)="selected=treeslt"></app-plant>
    
    <!-- <span >Will display the name of the tree which has been added {{addValue}}</span> -->
 </div>

 <div class="col-xs-6">
   <app-treesdetail *ngIf="selected;else notselected" [listtreee]=selected></app-treesdetail>
   <ng-template #notselected><p>Select a Plant </p></ng-template>

   
 </div>
</div>